{{!-- Add Question --}}
<h4>Add a Question</h4>
<BsForm @model={{this}} @onSubmit={{this.addQuestion}} class="mb-4 mt-3" as |form|>
  <form.element  
    @placeholder="question..." 
    @property="question" 
    @required={{true}}
    as |el|
  >
    <div class="input-group">
      <el.control />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">Add</button>
      </div>
    </div>
  </form.element>
</BsForm>

{{!-- Questions --}}
<h4>Questions</h4>
<ul class="list-group mt-3">
  {{#each this.questions as |question|}}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{!-- Link to question route --}}
      <LinkTo 
        @route="authenticated.question" 
        @model={{question.id}} 
        class="d-flex justify-content-between align-items-center list-group-item-action"
      >
        <div>
          <p>{{question.text}}</p>
          <div class="d-flex flex-column align-items-start">
            <span class="badge badge-secondary badge-pill mb-2 px-4">No. of Answers - {{question.answers.length}}</span>
            <small class="text-black-50">Created By {{question.createdBy.fullName}}</small>
          </div>
        </div>
      </LinkTo>

      {{!-- Delete question --}}
      {{#if (eq question.createdBy.id this.currentUser.user.id)}}
        <a role="button" {{on "click" (fn this.removeQuestion question)}}><FaIcon @icon="times" class="text-danger" /></a>
      {{/if}}
    </li>
  {{else}}
    <li class="list-group-item">No questions added</li>
  {{/each}}
</ul>
