<LinkTo @route="authenticated"><FaIcon @icon="long-arrow-alt-left" class="mr-1" /> Return to Questions</LinkTo>

{{!-- Question --}}
<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    Question
    <small>Created by {{@model.question.createdBy.fullName}}</small>
  </div>
  <div class="card-body">{{@model.question.text}}</div>
</div>

{{!-- Add Answer --}}
<BsForm @model={{this}} @onSubmit={{this.addAnswer}} class="mt-5" as |form|>
  <form.element  
    @placeholder="Add answer..." 
    @property="answer" 
    @required={{true}}
    as |el|
  >
    <div class="input-group">
      <el.control />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">Add</button>
      </div>
    </div>
  </form.element>
</BsForm>


{{!-- Answers --}}
<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <div>Answers</div>
    <div>Votes</div>
  </div>
  <ul class="list-group list-group-flush">
    {{#each this.answers as |answer index|}}
      <Answer @answer={{answer}} @model={{@model}} @index={{index}} />
    {{else}}
      <li class="list-group-item">No answers added.</li>
    {{/each}}
  </ul>
</div>