<BsForm @model={{this}} @onSubmit={{this.authenticate}} class="form-signin text-white" as |form|>
  <h3>QA Login</h3>
  <hr class="bg-white">
  <form.element @controlType="email" @label="Email" @placeholder="Email" @property="email" @required={{true}} />
  <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @required={{true}} />
  {{#if this.errorMessage}}
    <small class="text-danger">{{this.errorMessage}}</small>
  {{/if}}
  <div class="d-flex justify-content-end">
    <LinkTo @route="register" class="btn btn-success mr-2 px-4">Register</LinkTo>
    <BsButton @defaultText="Login" @type="primary" @buttonType="submit" class="px-4" />
  </div>
</BsForm>
